html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; /* stylelint-disable-line */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}

main {
  display: block;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

.container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.videos {

}

.videos::after{
  content: '';
  display: table;
  clear: both;
}

a {
  display: block;
  font-size: 32px;
  font-size: 2rem;
  height: 64px;
  height: 4rem;
  border: 1.6px solid black;
  border: .1rem solid black;
  padding: 12.8px;
  padding: .8rem;
  margin-left: 16px;
  margin-left: 1rem;
  text-decoration: none;
}

header {
  margin: 16px;
  margin: 1rem;
  margin-top: 32px;
  margin-top: 2rem;
  font-size: 48px;
  font-size: 3rem;
  color: black;
}

.video {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.video:nth-child(1) {
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.strangerNotConnected {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  box-shadow: none;
}

.strangerConnected {
  box-shadow: 0 30px 50px 5px rgba(0, 0, 0, .44);
  border-radius: 50%;
  width: 320px;
  width: 20rem;
  height: 320px;
  height: 20rem;
  right: 80px;
  right: 5rem;
  bottom: 80px;
  bottom: 5rem;
}

.video:nth-child(1) > video {
  height: auto;
  width: 100%;
}

video {
  height: auto;
  width: 100%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  position: absolute;
  bottom: 0;
}

.strangerConnected > video {
  height: 100% !important;
  width: auto !important;
}

.video:nth-child(2) {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.meta {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  background-color: #ffad33;
  padding: 8px 16px;
  padding: .5rem 1rem;
  font-size: 24px;
  font-size: 1.5rem;
}

.disabled {
  opacity: .1;
}

.google {
  width: 80px;
  width: 5rem;
  height: 80px;
  height: 5rem;
  border-radius: 50%;
  background: white;
  background-position: center;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC');
  background-size: 50%;
  background-repeat: no-repeat;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  position: absolute;
  left: 80px;
  left: 5rem;
  bottom: 80px;
  bottom: 5rem;
  z-index: 999;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.google:hover {
  box-shadow: 0 5px 10px 0 #757575, 0 4px 5px 0 #a8a8a8;
}

.google:focus {
  outline: none;
}

.voiceActive {
  box-shadow: 0 5px 10px 0 #757575, 0 4px 5px 0 #a8a8a8;
  background: #ef4749;
  background-image: url('https://lh5.googleusercontent.com/OorCLDb2xlVQ4P2MDNCiwAnpv0K1ZrcDwEwRS3sOfDMrnYTnVPvCh7WtFQMbZ_S9u_jzcSLd8g=s128-h128-e365');
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center;
}

.googleResult {
  position: absolute;
  z-index: 998;
  left: 192px;
  left: 12rem;
  bottom: 80px;
  bottom: 5rem;
  width: auto;
  height: auto;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.speakResult {
  position: relative;
  left: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 998;
}

.searchResult {
  position: relative;
  height: auto;
}

.result_text {
  font-size: 2em;
  height: auto;
  padding: 48px;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.resultFalse {
  padding: 0;
}

.resultTrue {
  padding: 40px;
  padding: 2.5rem;
}

.googleLink {
  border: 0;
  color: #1a0dab;
  margin: 0;
}

/*# sourceMappingURL=style.css.map*/