@import 'reset';

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

.container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.videos {

  &::after {
    content: '';
    display: table;
    clear: both;
  }

}

a {
  display: block;
  font-size: 2rem;
  height: 4rem;
  border: .1rem solid black;
  padding: .8rem;
  margin-left: 1rem;
  text-decoration: none;
}

header {
  margin: 1rem;
  margin-top: 2rem;
  font-size: 3rem;
  color: black;
}

.video {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.video:nth-child(1) {
  z-index: 2;
  transition: all .5s ease;
}

.strangerNotConnected {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  box-shadow: none;
}

.strangerConnected {
  box-shadow: 0 30px 50px 5px rgba(0, 0, 0, .44);
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  right: 5rem;
  bottom: 5rem;
}

.video:nth-child(1) > video {
  height: auto;
  width: 100%;
}

video {
  height: auto;
  width: 100%;
  transform: scaleX(-1);
  position: absolute;
  bottom: 0;
}

.strangerConnected > video {
  height: 100% !important;
  width: auto !important;
}

.video:nth-child(2) {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.meta {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  background-color: #ffad33;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.disabled {
  opacity: .1;
}

.google {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: white;
  background-position: center;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC');
  background-size: 50%;
  background-repeat: no-repeat;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  position: absolute;
  left: 5rem;
  bottom: 5rem;
  z-index: 999;
  transition: all .2s ease;
}

.google:hover {
  box-shadow: 0 5px 10px 0 #757575, 0 4px 5px 0 #a8a8a8;
}

.google:focus {
  outline: none;
}

.voiceActive {
  box-shadow: 0 5px 10px 0 #757575, 0 4px 5px 0 #a8a8a8;
  background: #ef4749;
  background-image: url('https://lh5.googleusercontent.com/OorCLDb2xlVQ4P2MDNCiwAnpv0K1ZrcDwEwRS3sOfDMrnYTnVPvCh7WtFQMbZ_S9u_jzcSLd8g=s128-h128-e365');
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center;
}

.googleResult {
  position: absolute;
  z-index: 998;
  left: 12rem;
  bottom: 5rem;
  width: auto;
  height: auto;
  background: #d5d5d5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speakResult {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15rem;
  background: url('http://www.droid-life.com/wp-content/uploads/2013/01/googlenownewyork.png');
  background-size: cover;
  background-position: bottom;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2rem;
  transition: all .5s ease;
  z-index: 998;
  margin-bottom: 2rem;
}

.result_text {
  font-size: 2em;
  width: 94%;
  height: auto;
  display: flex;
  align-items: center;
  transition: all .5s ease;
  background: white;
  border-radius: 3px;
}

.googleLink {
  border: 0;
  color: #1a0dab;
  font-size: 2em;
  width: 64rem;
  display: flex;
  align-items: center;
  margin: 0 2rem;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px #aaa;
}

.resultFalse {
  padding: 0;
}

.resultTrue {
  padding: 1.5rem;
}

.searchResult {
  position: relative;
  height: auto;
  width: 100%;
  margin-bottom: 3rem;
}

.googleImage {
  height: 30rem;
  width: auto;
  overflow: hidden;
  margin: 0 2rem;
  border-radius: 3px;
  box-shadow: 0 1px 2px #aaa;
}

.youtube {
  margin: 0 2rem;
  border-radius: 3px;
  box-shadow: 0 1px 2px #aaa;
}

img {
  width: auto;
  height: 100%;
}
